/* Media Queries */

/* header */
@media all and (max-width: 1200px)
{
    header img
    {
        padding: 0;
        margin-left: 40px;
    }

    header
    {
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    nav
    {
        display: flex;
        flex-basis: 100%;
        order: 2;
    }

    nav ul 
    {
        width: 100%;
    }

    nav li 
    {
        width: 80px;
        text-align: center;
        border-top: none;

    }

    nav ul li
    {
        width: 50%;
        text-align: center;
        padding: 15px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav ul .li-lod a, nav ul .li-act a
    {
        justify-content: center;
        text-align: center;
    }

    nav ul .li-lod a
    {
        padding-right: 80px;
        padding-left: 20px;
    }

    nav ul .li-act a
    {
        padding-right: 40px;
    }

    nav ul li:hover 
    {
        border-bottom: 3px solid #0065fc;
    }

    nav ul li a:hover 
    {
        border-top: hidden;
    }

    nav li a 
    {
        margin-right: 30px;
        margin-left: 50px;
    }

    header nav 
    {
        position: relative;
    }

    header nav p 
    {
        position: absolute;
        top: -95px;
    }

    .headertitle
    {
        order: 3;
        text-align: center;
        margin: 20px 0 0;
    }

    .headertitle h2 
    {
        font-size: 20px;
    }

    .headertitle p 
    {
        font-size: 15px;
        margin: 10px 50px 10px;
    }
}

@media all and (min-width: 375px) and (max-width: 767px)
{
    .headertitle h2 
    {
        margin: 20px 50px 0;
    }
}

/* Search */

@media all and (max-width: 1200px)
{
    .search-filter
    {
        margin: 5px 5px 5px 5px;
    }

    .search-bar
    {
        margin: 0;
        justify-content: center;
    }

    .city
    {
        width: 190px;
    }

    .btnsearch
    {
        display: block;
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 10px 10px 10px 10px;
        background-color: #0065fc;
        color: white;
    }

    .btnsearch span 
    {
        display: none;
    }

    .btnsearch .fa-search 
    {
        display: block;
        color: white;
    }

    .btnsearch .fa-search:hover 
    {
        color: #0065fc;
        background-color: #deebff;
        border: 1px solid #0065fc;
    }

    .filter
    {
        padding: 0 10px 0 20px;
    }

    .filter button 
    {
        margin: 0 10px 12px 0;
        font-size: 0.9rem;
    }

    .filter h3 
    {
        flex-basis: 100%;
    }
}

@media all and (min-width: 375px) and (max-width: 767px)
{
    .filter 
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

/* Hébergement */

@media all and (max-width: 1200px)
{
    .containerresults
    {
        flex-direction: column-reverse;
        max-height: none;
    }

    .popular
    {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }

    .popular h2 
    {
        padding-bottom: 25px;
    }

    .popular .containercard
    {
        margin: 0 20px;
    }

    .popular .cardlink
    {
        margin: 5px 0;
    }

    .resultscontainer
    {
        background: none;
    }

    .resultscontainer h2 
    {
        padding: 0;
        text-align: center;
    }

    .more
    {
        padding: 0;
        text-align: center;
    }

    .imgmain
    {
        height: 115px;
        width: 325px;
    }

    .resultscontainer .cardlink
    {
        margin: 5px 0;
    }
}

@media all and (min-width: 1024px) and (max-width: 1200px)
{
    .popular
    {
        align-items: center;
    }

    .cardpopular
    {
        width: 315px;
    }

    .popular .cardlink
    {
        margin: 5px;
    }
}

@media all and (min-width: 768px) and (max-width: 1200px)
{
    .popular
    {
        align-items: flex-start;
    }

    .popular .containercard
    {
        flex-direction: row;
        margin-bottom: 40px;
    }

    .popular .cardlink
    {
        margin: 5px 10px;
    }

    .popular h2 
    {
        margin-left: 10px;
    }

    .popular .fa-chart-line
    {
        margin-left: 20px;
    }

    .resultscontainer
    {
        align-self: center;
    }

    .resultscontainer .containercard
    {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media all and (min-width: 375px) and (max-width: 767px)
{
    .popular
    {
        padding: 40px 20px;
        width: max-content;
        margin: auto;
    }

    .resultscontainer
    {
        margin: 0;
        padding-left: 12px;
    }

    .cardpopular
    {
        width: 305px;
    }

    .popular .fa-chart-line
    {
        margin-left: 100px;
    }

    .imgmain
    {
        width: 305px;
    }
}

/* Activités */

@media all and (max-width: 1200px)
{
    .activities h2 
    {
        text-align: center;
    }

    .contentactivities
    {
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }

    .card-activity h4 
    {
        padding: 15px 22px;
    }

    .pic-activity
    {
        height: 135px;
        width: 335px;
    }

    .activity-link
    {
        margin: 12px 0;
    }
}

@media all and (min-width: 1024px) and (max-width: 1200px)
{
    .pic-activity
    {
        width: 325px;
    }
}

@media all and (min-width: 768px) and (max-width: 1200px)
{
    .contentactivities
    {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media all and (min-width: 375px) and (max-width: 767px)
{
    .contentactivities
    {
        padding-left: 20px;
    }

    .pic-activity
    {
        width: 315px;
    }
}

/* Footer */

@media all and (max-width: 1200px)
{
    .footercontent
    {
        flex-direction: column;
    }

    .footer h3
    {
        padding: 45px 0 10px 0;
    }

    .footercontent div 
    {
        margin-right: 0;
        margin-left: 20px;
        padding-bottom: 0;
    }
}

@media all and (min-width: 768px) and (max-width: 1200px)
{
    .footercontent
    {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media all and (min-width: 375px) and (max-width: 767px)
{
    footer
    {
        padding: 15px;
    }
}
